<template>
  <div class="home">
    <div class="container content">
      <div class="row">
        <div class="col-lg-6 content__pictures">
          <img src="img/timo_partner.svg" alt="">
        </div>
        <div class="col-lg-6 order-lg-0">
          <div class="box">
            <h1>{{headline}}</h1>
            <p>{{subtitle}}</p>
            <select name="select">
              <option value="0">De mogelijkheden</option>
              <option value="1">De mogelijkheden</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <app-list/>
  </div>
</template>

<script>
export default {
  name: 'home',
  data () {
    return {
      headline: 'Bent u onze nieuwe partner?',
      subtitle:'Lorem ipsum dolor sit amet, consectetur adipisc- ing elit. Nam consequat arcu sed nulla lacinia, quis blandit eros facilisis. Mauris mattis nec sem nec finibus. Nunc eget leo ut diam imperdiet vehicula ac non elit. Pellentesque nisi neque, sodales nec sem et, condimentum congue ligula. Integer non ullamcorper lacus, sed luctus sapien.'
    }
  }
}
</script>

<style lang="scss">
.home {
  position: relative;
  background-color: #f5f5f5;
  padding: 100px 0 0;
  @media(max-width: 1200px){
    padding: 60px 0 0;
  }
  @media(max-width: 480px){
    padding: 40px 0 0;
  }
}
.container.content {
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
  @media(max-width: 1200px){
    padding-bottom: 20px;
  }
  @media(max-width: 991px){
    max-width: 600px;
  }
}
.content:before {
  content: '';
  position: absolute;
  bottom: -130px;
  left: -40%;
  right: -40%;
  height: 440px;
  transform: rotate(-6deg);
  background-color: #fff;
  z-index: -1;
}
.box {
  background-color: #fff;
  padding: 53px 54px 50px;
  max-width: 516px;
  box-shadow: 0 -2px 11px -6px rgba(30,30,30,.1);
  @media(max-width: 1200px){
    max-width: 460px;
  }
  @media(max-width: 991px){
    max-width: 100%;
  }
  @media(max-width: 550px){
    padding: 30px 23px;
  }
}
.content__pictures {
  @media(max-width: 991px){
    margin: 0 auto 30px;
    max-width: 480px;
  }
}
.order-lg-0 {
  @media(min-width: 991px){
    order: -1;
  }
}
</style>