<template>
   <div class="footer">
      <div class="container">
         <div class="footer__copy">
            © 2013 - 2019 Vliegenenparkeren.nl - Alle&nbsp;rechten&nbsp;voorbehouden
         </div>
         <div class="footer__nav">
            <a href="#" class="footer__link">Bedrijfsgegevens</a>
            <a href="#" class="footer__link">Privacy policy</a>
            <a href="#" class="footer__link">Algemene voorwaarden</a>
            <a href="#" class="footer__link">Sitemap</a>
         </div>
      </div>
   </div>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style scoped lang="scss">
.footer {
   color: rgba(255, 255, 255, 0.67);
   background-color: #005070;
   font-size: 13px;
   font-weight: 300;
   padding: 20px 0;
   .container{
      display: flex;
      flex-wrap: wrap;
      @media(max-width: 991px){
         justify-content: center;
         text-align: center;
      }
   }
}
.footer__copy {
   margin-right: auto;
   @media(max-width: 991px){
      margin: 0 auto 5px;
   }
}
.footer__nav {
   display: flex;
   flex-wrap: wrap;
   @media(max-width: 991px){
      justify-content: center;
   }
}
.footer__link {
   display: inline-block;
   color: inherit;
}
.footer__link:not(:last-of-type):after{
   content: '/';
   display: inline-block;
   margin: 0 6px;
}
</style>