<template>
  <div class="header">
    <div class="container">
      <div class="logo">
        <img src="img/logo.png" alt="">
      </div>
      <div class="d-flex">
        <div class="header__item header__rating"><img src="img/rating.png" alt=""></div>
        <div class="header__item"><img src="img/feedback.png" alt=""></div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style scoped lang="scss">
.header {
  padding-top: 33px;
  width: 100%;
  border-bottom: 40px solid #00b1fa;
  background-repeat: no-repeat,no-repeat;
  background-position: right calc(100% + 32px), center;
  background-image: url(/img/clouds.png), linear-gradient(to top, rgba(179,251,255,.5) 0%, rgba(179,251,255,.1) 100%);
  @media(max-width: 1200px){
    padding-top: 26px;
    border-bottom-width: 30px;
  }
  @media(max-width: 670px){
    border-bottom-width: 15px;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 6%;
    @media(max-width: 1200px){
      align-items: center;
    }
    @media(max-width: 991px){
      padding-right: 15px;
    }
  }
}
.logo {
  margin-right: auto;
  margin-bottom: -20px;
  @media(max-width: 1200px){
    max-width: 240px;
    margin-bottom: -13px;
  }
  @media(max-width: 991px){
    max-width: 200px;
  }
  @media(max-width: 420px){
    margin: 0 auto -9px;
    padding-right: 9px;
  }
}
.header__item {
  padding: 25px;
  @media(max-width: 991px){
    padding: 20px;
  }
  @media(max-width: 420px){
    display: none;
  }
}
.header__rating {
  @media(max-width: 721px){
    display: none;
  }
}

</style>