<template>
   <div class="list__section">
      <ul class="list container">
         <li class="list__item" v-for="list of lists" :key="list.id">
            <div>
               <i v-bind:style="{ 'background-image': 'url(' + list.imageSrc + ')' }"></i>
               <h3>{{list.title}}</h3>
               <p>{{list.description}}</p>
            </div>
         </li>
      </ul>
   </div>
</template>

<script>
export default {
      name: "List",
      computed: {
      lists() {
         return this.$store.state.lists
      },
   }
}
</script>

<style scoped lang="scss">
.list__section {
   position: relative;
   background-color: #f5f5f5;
   padding: 100px 0 50px;
   z-index: 1;
   @media (max-width: 1200px) {
      padding: 60px 0 10px;
   }
   @media (max-width: 480px) {
      padding: 40px 0 10px;
   }
}
.list {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 1120px;
}
.list__item {
   flex: 0 0 33%;
   max-width: 33.3333%;
   padding: 0 25px;
   margin-bottom: 50px;
   @media (max-width: 1200px) {
      padding: 0 15px;
      margin-bottom: 30px;
   }
   @media(max-width: 991px){
      flex: 0 0 50%;
      max-width: 50%;
   }
   @media(max-width: 670px){
      flex: 0 0 100%;
      max-width: 100%;
   }
   @media(max-width: 360px){
      padding: 0;
   }
   div {
      background-color: #fff;
      box-shadow: inset 0 -13px #00b1fa, 0 4px 11px -5px rgba(30, 30, 30, 0.16);
      min-height: 100%;
      padding: 50px 27px 32px;
      @media (max-width: 1200px) {
         box-shadow: inset 0 -8px #00b1fa,
            0 3px 11px -5px rgba(30, 30, 30, 0.16);
      }
      img {
         display: block;
         margin: 0 auto 28px;
      }
      i {
         display: block;
         background-repeat: no-repeat;
         background-position: center;
         width: 84px;
         height: 80px;
         margin: 0 auto 28px;
      }
   }
}
</style>