<template>
  <div id="app" class="wrapper">
      <app-header/>
      <router-view/>
      <app-footer/>

  </div>
</template>

<style lang="scss">
/* @import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700'); */

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 15px;
  -ms-overflow-style: scrollbar
}
*,*::before,*::after {
  margin: 0;
  padding: 0;
  outline: 0 none;
  border: none;
  box-sizing: inherit
}
img {max-width: 100%;}

body {
  position: relative;
  color: #67737D;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  line-height: 1.61;
  color: #1a1a1a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media(max-width: 480px){
    font-size: 17px;
  }
}
section {
  width: 100%;
  position: relative;
}
a,a:focus {
  text-decoration:none;
  outline:0;
  cursor: pointer;
  transition: .3s;
  user-select: none;
}
h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  padding-bottom: 0.6em;
  @media(max-width: 1200px){
    font-size: 35px;
    padding-bottom: 0.4em;
  }
  @media(max-width: 480px){
    font-size: 32px;
    line-height: 1.14;
  }
  @media(max-width: 380px){
    font-size: 28px;
  }
}
h3 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 1em;
  text-align: center;
}
p {padding-bottom: 1em;}

select {
  appearance: none;
  background-color: #00b1fa;
  color: #fff;
  font-weight: 700;
  font-family: inherit;
  padding: 10px 80px 10px 33px;
  border: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='9' viewBox='0 0 17 9'%3E%3Cdefs%3E%3Cpath id='kmeia' d='M641.845 750.346l-8.372-7.814h16.744z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-633 -742)'%3E%3Cuse fill='%23fff' xlink:href='%23kmeia'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 92% 54%;
  border-radius: 4px;
  margin-top: 1em;
  @media(max-width: 380px){
    margin-top: 0.1em;
    padding: 9px 60px 9px 28px;
  }
}
.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1270px;
}
.btn {
  display: block;
  width: 100%;
  border: none;
  text-align: center;
  white-space: nowrap;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: 22px 11px;
  margin-top: 20px;
  margin-bottom: 4px;
  line-height: 1.1;
}

</style>
